// fonts

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600&display=swap');

// global

body {
  @apply bg-teal-50 text-black font-body cursor-default;
}

a {
  @apply text-teal-600 hover:text-teal-500 transition-colors;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

// layout

#__next {
  @apply flex flex-col min-h-screen container p-8 mx-auto;

  & > main {
    @apply flex-1;
  }
}

// components

#resume {
  @apply mx-auto;

  height: 297mm;
  width: 210mm;

  li {
    @apply flex items-center mt-1 first:mt-0;

    &:before {
      @apply flex-shrink-0 font-semibold pointer-events-none mr-2 text-teal-600;

      content: '\2713';
    }
  }

  p {
    @apply mt-2;
  }
}

// print

@media print {
  #__next {
    @apply p-0;
  }
}
